@import './../shared/mixins';
.container {
  width: 100%;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1440px) {
  .events-wrapper.container {
    max-width: 100%;
  }
}
.events-wrapper.container {
  margin-top: -3.6em;
  @media (max-width: 767px) {
    margin-top: -1.6em;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container.page-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

body.post-about .main-content {
  padding-top: 0px;
}

body.post-about .container.page-wrapper {
  max-width: 1400px;
  #posts-listing-container {
    max-width: 100% !important;
  }
}

.main-content {
  padding-top: 3.6em;
  @media (max-width: 767px) {
    padding: 1.6em 20px;
  }
}

.single-events {
  .main-content {
    padding-top: 3.6em;
    @media (max-width: 767px) {
      padding: 1.6em 0px;
    }
  }
}

// plugin overrides

.heateor_sss_horizontal_sharing {
  padding: 20px 0px;
  border-top: 1px solid rgba(0,0,0,0.05);;
  border-bottom: 1px solid rgba(0,0,0,0.05);;
  margin-bottom: 30px;
}

.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
  height: auto !important;
}

.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
  display: block !important;
  height: auto !important;
}
