{% extends "base.twig" %}
{% set sidebar = false %}
{% block content %}
	<div class="content-inner-wrapper content">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<div class="article-body">

			<div class="da-flex-row">
				<div class="da-col da-col-middle da-col-padding">
					<h1>About</h1>
					<p>Dead Ant is an iconically terrible joke from the 90s. Geddit? Doesn’t matter.</p>
<p>What are we doing here, exactly? Trying our damnedest to track the most exciting space right now in pop culture, without using the words edgy or alternative (it’s harder than you think). </p>
<p>Standup comedy is here and its time is now, and we believe its potential for impact is massive. So we’re going to do everything we can to keep you up to date on what’s up—news, reviews and interviews; big fish and the small fry; your favourite comedians RN and who you’re going to be obsessed with next, and where you can watch them live.</p>
<p>We’re here to chronicle the changing landscape of comedy in India, and engage and grow the community. We’re that really fun virtual water-cooler that fans and comics have been waiting to hang out at. So come hang out already!</p>
<p>Headquartered in Mumbai, India, we also want an office in Tokyo one day so double tap the donate button accordingly? Gee, thanks. </p>
				</div>
				<div class="da-col da-col-middle da-about-logo">
					<figure class="wp-block-image"><img src="/wp-content/uploads/2019/03/deadant-logo-trans.png" alt="" class="wp-image-5271"></figure>
				</div>
			</div>




			<div class="da-flex-row">
				<div class="da-col da-col-middle da-col-padding da-col-orange">
					<h2>DEADANT ARMY</h2>
				</div>
				<div class="da-col da-col-person da-col-padding da-col-purple">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/ravina.jpg" alt="Ravina Rawal">
						</figure>
						<h3>RAVINA RAWAL</h3>
						<h4>Founder &amp; Editor</h4>
						<br>
						<p>Ravina Rawal is the founder and editor of Dead Ant.</p>
						<p>With over 14 years of experience in media and entertainment, Rawal has previously led the voice of brand on digital for several youth-focussed media including MTV India, Comedy Central, Vh1 India, MTV Beats and Colors Infinity. She also revamped Motherland magazine and The Sunday Guardian20, as well as set up the print division for MTV India with MTV Noise Factory, a youth and culture magazine, founded in 2009.</p>
						<p>She can’t remember the last time she took a nap. </p>
					</div>
				</div>
				<div class="da-col da-col-person da-col-padding da-col-pink">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/ajay.jpg" alt="Ajay Krishnan">
						</figure>
						<h3>AJAY KRISHNAN</h3>
						<h4>Launch Contributor</h4>
						<br>
						<p>Ajay Krishnan is a launch contributor for Dead Ant, who helped write and edit stories for the publication’s launch. He is a former senior associate editor of <em>The Caravan</em> magazine and playwright. His hobbies include sitting on chairs and looking out of windows.</p>
					</div>
				</div>
				<div class="da-col da-col-person da-col-padding da-col-grey">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/antmaster.jpg" alt="Ant Master G9">
						</figure>
						<h3>Arjuna Shankar</h3>
						<h4>Technical Antmaster</h4>
						<br>
						<p>Arjuna spends his time between code editors and nylon strings. He writes and thinks in Javascript and CSS. When not in front of a terminal, he listens to lots of Jazz and plays classical guitar.</p>
					</div>
				</div>
				<div class="da-col da-col-person da-col-padding da-col-orange">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/maaz.jpg" alt="Ravish Rawal">
						</figure>
						<h3>Maaz Ahmad Siddiqui</h3>
						<h4>Social Media Strategy • Writer</h4>
						<br>
						<p>Maaz is our writer and social media strategist who struggles to say strategist without making a face. He has an unhealthy obsession with puns and pop cultural references, but while that’s impossible to bear on a daily basis, it’s good for business. Based in Mumbai, Maaz is a colossal disappointment to his parents, who really wanted him to be a doctor (he has a BSc in Zoology). Instead, the quiet rebel joined comedy collective EIC, where he was Senior Social Media Executive. And now we here.</p>
					</div>
				</div>
				<div class="da-col da-col-person da-col-padding da-col-pink">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/mihika.jpg" alt="Ravish Rawal">
						</figure>
						<h3>MIhika Jindal</h3>
						<h4>Writer • Editorial Coordinator</h4>
						<br>
						<p>Mihika Jindal is a comedy superfan who heads our Paris division. By which we mean that she suddenly decided to move to Paris and we got lumped with a long distance relationship. Now she watches more comedy than anyone else we know because FOMO is a real thang. She has previously been part of the editorial team at MTV India, Motherland magazine, and The Sunday Guardian20.</p>
					</div>
				</div>
				
				<div class="da-col da-col-person da-col-padding da-col-grey">
					<div class="da-person-content">
						<figure>
						<img src="/wp-content/uploads/2019/03/ravish.jpg" alt="Ravish Rawal">
						</figure>
						<h3>Ravish Rawal</h3>
						<h4>Mobile App Dev</h4>
						<br>
						<p>Ravish Rawal is our app developer. When he’s not falling off ski lifts in Vermont, he works as a Mechanical Engineer designing smart home infrastructure in New York City. He also enjoys programming, and building digital platforms and apps. The Dead Ant app is ‘Coming Soon’ because it’s still winter in that part of the world, and gloves are inconvenient for coding.</p>
					</div>
				</div>
			</div>





				</div>
			<section class="article-content">
				{# <h1 class="article-h1">{{post.title}}</h1> #}
				<div class="article-body">
					{# {{post.content}} #}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}