.comedy_manual_container {
    background: RGBA(242, 168, 59, 1.00);
    margin-bottom: 60px;
    .comedy_manual_inner {
        background: white;
        transform: translate(10px, -10px);
        width: 100%;
        padding: 28px 30px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        text-align: left;
        a {
            display: block;
            color: black;
            font-size: 14px;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:hover {
                text-decoration: none;
                color: RGBA(242, 168, 59, 1.00);
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}