.event-card {
  color: white;
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  @include breakpoint(sm) {
    width: 60%;
  }
}

.event-card-content {
  padding: 260px 28px 28px 28px;
  width:100%;
  background-color: rgba(map-get($colors, purple), 0.6);
  transition: background-color 0.2s linear;
  color: white;
  &:hover {
    background-color: rgba(map-get($colors, purple), 0.8);
    text-decoration: none;
  }
  .event_artist {

  }
  .event_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 18px;
  }
  .event_meta {
    font-size: 14px;
    margin-top: 0.6em;
  }
}

.close-event {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: block;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:last-child {
    margin-bottom: 20px;
  }
  .event_artist {
    font-size: 14px;
    font-weight: bold;
  }
  .event_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 16px;
  }
  .event_meta {
    font-size: 14px;
    margin-top: 0.6em;
  }
}

.only-mobile-tablet .events-bar {
  margin-bottom: 20px;
}

.only-mobile-tablet .da-tv-holder {
  margin-top: 20px;
  margin-bottom: 20px;
}

.events-bar {
  position: relative;
  margin-bottom: 60px;
  .featured {
    position: absolute;
    top: 20px;
    left: 28px;
    letter-spacing: 0.6px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .backer {
    position: absolute;
    width: calc(100% + 100px);
    height: calc(100% + 60px);
    top: -10%;
    left: -20%;
    z-index: -1;
  }
  .events-sidebar-holder {
    position: relative;
    z-index: 1;
    @include breakpoint(sm) {
      display: flex;
      // width: 40%;
    }
  }
  .close-events {
    width: 100%;
    background: white;
    padding: 28px 18px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    @include breakpoint(sm) {
      width: 40%;
    }
  }
}

